@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    max-width: 1920px;
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    //레귤러 400, 미듐 500, 볼드 700
}

.App {
    margin: 0 auto;

    .mySwiper {
        height: 100vh;

        .swiper-slide {
            height: 100vh;
        }

        .app_slide {
            .about_font {
                opacity: 0;
                transform: translateY(40px);
                transition: opacity 0.8s ease-out, transform 0.8s ease-out;
            }

            &.active {
                .about_font1 {
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.8s ease-out 0s, transform 0.8s ease-out 0s;
                }

                .about_font2 {
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.8s ease-out 0.2s, transform 0.8s ease-out 0.2s;
                }

                .about_font3 {
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.8s ease-out 0.4s, transform 0.8s ease-out 0.4s;
                }
            }
        }
    }

    .wrap {
        max-width: 1600px; //1600px
        padding: 10px 0;
        margin: 0 auto;


        .header {
            width: 1600px;
            margin: 0 auto;

            .menu {
                width: 800px; //800
                height: 9vh; //80
                display: flex;
                align-items: center;
                background-color: #EEF2FB;
                border-radius: 30px 30px 0 0;
                box-shadow: 5px -3px 4px 0px rgba(#000, 25%);


                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        cursor: pointer;

                        font: {
                            size: 20px;
                            weight: 500;
                        }

                        &:hover {
                            color: #0051FF;
                        }
                    }
                }
            }
        }

        .box {
            width: 1600px;
            height: 89vh;
            margin: 0 auto;
            background-color: #EEF2FB;
            border-radius: 30px 0 30px 30px;
            box-shadow: 5px -3px 4px 0px rgba(#000, 25%);
        }
    }
}