@charset "utf-8";

.intro_wrap {
    .header {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 15px;
            color: #666;
            display: flex;
            align-items: center;
            margin-left: 25px;
            cursor: default;
        }

        .menu {
            ul {
                li {
                    &:nth-of-type(1) {
                        font-weight: 700;
                        color: #0051FF;
                    }
                }
            }
        }
    }

    .box {
        .intro_titleBox {
            height: 100%;
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .intro_title1 {
                p {
                    font-size: 40px;
                    color: #333;
                    cursor: default;
                }

                h2 {
                    font: {
                        size: 70px;
                        weight: 700;
                    }

                    color: #121212;
                    cursor: default;
                }

                h4 {
                    font: {
                        size: 50px;
                        weight: 500;
                    }

                    color: #333;
                    cursor: default;
                }
            }

            .intro_title2 {
                margin: {
                    top: 35px;
                    bottom: 20px;
                }

                p {
                    font: {
                        size: 20px;
                        weight: 400;
                    }

                    color: #121212;
                    cursor: default;
                }
            }

            .intro_title3 {
                p {
                    font: {
                        size: 20px;
                        weight: 400;
                    }

                    color: #121212;
                    cursor: default;
                }
            }
        }
    }
}