@charset "utf-8";

@keyframes scrollMove {
    0% {transform: translateY(0);}
    50% {transform: translateY(8px);}
    100% {transform: translateY(0);}
}

@keyframes scrollBlink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.6;}
}

.intro_wrap {
    .header {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 15px;
            color: #666;
            display: flex;
            align-items: center;

            margin: {
                left: 25px;
                bottom: 0;
            }

            cursor: default;
        }

        .menu {
            ul {
                li {
                    &:nth-of-type(1) {
                        font-weight: 700;
                        color: #0051FF;
                    }
                }
            }
        }
    }

    .box {
        .intro_titleBox {
            height: 100%;
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .intro_title1 {
                p {
                    font-size: 40px;
                    color: #333;
                    margin: 0;
                    cursor: default;
                }

                h2 {
                    font: {
                        size: 70px;
                        weight: 700;
                    }

                    color: #121212;
                    cursor: default;
                    margin: 0;
                }

                h4 {
                    font: {
                        size: 50px;
                        weight: 500;
                    }

                    color: #333;
                    cursor: default;
                    margin: 0;
                }
            }

            .intro_title2 {
                margin: {
                    top: 35px;
                    bottom: 20px;
                }

                p {
                    font: {
                        size: 20px;
                        weight: 400;
                    }

                    color: #121212;
                    cursor: default;
                    margin: 0;
                }
            }

            .intro_title3 {
                p {
                    font: {
                        size: 20px;
                        weight: 400;
                    }

                    margin: 0;
                    color: #121212;
                    cursor: default;
                }
            }
        }

        .scrollBox {
            position: absolute;
            bottom: 4%;
            left: 46.4%;
            text-align: center;
            animation: scrollMove 1.5s ease-in-out infinite, 
            scrollBlink 1.5s ease-in-out infinite;
            cursor: default;

            p {
                color: #666;
                font-size: 20px;
                margin: 0;
            }

            .scroll {
                font-size: 30px;
                color: #666;
            }
        }
    }
}